/* MEDIA QUERIES */
@media (max-width: 520px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }

  .container {
    padding: 2.5rem;
    gap: 1.5rem;
  }

  .message-container {
    margin-bottom: 2rem;
  }

  .mode-btn {
    top: -1rem;
    right: -1rem;
  }
}
